<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Powerbuilding</title>
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet />
</head>
<body>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData"
                       DefaultLayout="@typeof(Powerbuilding.Components.Layout.MainLayout)" />
        </Found>
        <NotFound>
            <p>Page not found</p>
        </NotFound>
    </Router>

    <script src="_framework/blazor.web.js"></script>
</body>
</html>