@inject UserSessionService UserSessionService

<div class="sidebar">
    <div class="brand">
        ⚡ Powerbuilding
    </div>

    <nav class="menu">
        <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
            <span>🏠</span> Home
        </NavLink>
    </nav>

    <div class="bottom">
        <div class="user">
            <div class="avatar">
                @UserSessionService.UserName?[0]
            </div>
            <div class="info">
                <div class="name">@UserSessionService.UserName</div>
                <div class="email">@UserSessionService.Email</div>
            </div>
        </div>
    </div>
</div>